*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url('.Poppins-Light.ttf');
}

@font-face {
  font-family: PopRegular;
  src: url('.Poppins-Regular.ttf');
}

body {
  font-family: PopLight;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.heading {
  font-family: 'Quantico', sans-serif;
  position: absolute;
  padding-top: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  top: 3%;
  left: 5%;
}

.heading a {
  float: left;
  padding-right: 40px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.head {
  font-family: 'Quantico', sans-serif;
  position: absolute;
  padding-top: 10px;
  font-size: 17px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .);
  top: 40%;
  left: 45%;
}

.heading a:hover {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

.nav-open {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: white;
  opacity: 0.9;
  z-index: 1;
  color: black;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
}

.change {
  transform: translateY(0%);
}

.changemenu {
  text-decoration-color: black;
}


.contact {
  grid-column: 2/4;
  position: absolute;
  left: 20%;
}

.social {
  position: absolute;
  right: 20%;
}

.nav-open h3 {
  font-size: 28px;
  padding-bottom: 40px;
}

.nav-open p {
  font-size: 18px;
  opacity: 0.5;
}

.menu {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}

.menu:hover {
  transform: scale(1.2);
}

.social-links img {
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.re {
  width: 100%;
  height: 1600px;
  background: black;
}

.review {
  padding-top: 20px;
  display: grid;
  grid-template-rows: repeat(4, 300px);
  position: absolute;
  text-align: center;
  left: 23%;
  font-size: 30px;
  transform: translateY(0);
  padding-bottom: 40px;
  color: white;
  font-family: 'Quantico', sans-serif;
}

.review h1 {
  padding-bottom: 20px;
  font-family: 'Quantico', sans-serif;
  margin: 120px;
  color: white;
}

.review h3 {
  padding-top: 40px;
  font-size: 20px;
  padding-bottom: 100px;
}

.review div {
  width: 800px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .review div {
    width: 400px;
    height: 300px;
  }

  .review h1 {
    font-size: 30px;
  }

  .review p {
    font-size: 20px;
  }

  .review h3 {
    font-size: 15px;
  }
}
