*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
@font-face {
  font-family: PopLight;
  src : url('.Poppins-Light.ttf');
}
@font-face {
  font-family: PopRegular;
  src : url('.Poppins-Regular.ttf');
}
body{
  font-family: PopLight;
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
}
.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.heading{
  font-family: 'Quantico', sans-serif;
   /*grid-template-rows: repeat(3,200px);*/
   position: absolute;
   padding-top: 10px;
   font-size: 15px;
   color: rgba(255,255,255,0.7);

  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
   top: 3%;
   left: 5%;
}
.heading a  {
float: left;
 padding-right: 40px;

 color: rgba(255,255,255,0.7);

 text-decoration: none;
}
.head{
  font-family: 'Quantico', sans-serif;
   /*grid-template-rows: repeat(3,200px);*/
   position: absolute;
   padding-top: 10px;
   font-size: 17px;
   color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.);
   top: 40%;
   left: 45%;
}
.heading a:hover{
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.nav-open{
  position: absolute;
  font-family: 'Quntico', sans-serif;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: white;
  z-index: 1;
  color: black;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  transform: translateY(-100%);
}
.contact{
  grid-column: 2/3;
}
.nav-open h3{
  font-size: 28px;
  padding-bottom: 40px;
}
.nav-open p{
  font-size: 18px;
  opacity: 0.5;
}
.logo, .menu{
  z-index: 2;

}


.social-links img{
   padding-left: 5px;
   padding-right: 5px;
   height: 40px;
   justify-content: center;
   align-items: center;
}
.menu{
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}


.food, .home, .gallery {
  color: white;
}
.item{
  color: white;
  text-align: center;
  background: black;

}
.breakfast{
  display: grid;
  grid-template-columns: 15% 1fr 1fr 5% ;
 height: 150vh;
}
.item h2{

  text-align: center;
  color: white;
  font-family: 'Quantico', sans-serif;
  padding-top: 60px;

  padding-bottom: 40px;
}
.item h1{
  transform: translateX(0px);
  text-align: left;
  color: white;
  font-family: 'Quantico', sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
}
.b1 {
  grid-column: 2/4;
  text-align: left;
  color: white;
}
.b2 {
  grid-column: 3/4;
  text-align: left;
  color: white;
  transform: translateY(-96.5%);
}
.item1 h1{
  width: 450px;
  font-size: 20px;
}
.item p {
  width: 450px;
  font-size: 17px;
}
@media (max-width: 1200px) {
  .breakfast{
    display: grid;
    grid-template-columns: 15% 1fr 5% ;

  }
  .b1{
    grid-column: 2/3;
  }
  .b2{
    grid-column: 2/3;
    transform: translateY(0);
  }
}
@media (max-width: 600px)
{
  .breakfast{
    display: grid;
    grid-template-columns: 1fr;

  }
  .b1{
    grid-column: 2/3;
  }
  .b2{
    grid-column: 2/3;
    transform: translateY(0);
  }
}
